.card-footer{
  padding: 0px;

}

.btn{
  border: 0px;
}
.card{
  border: 0px;
  margin-bottom: 30px;

}
.card-footer{
  border: 0px;

}

.card-img-top{
 object-fit: cover;
}
.col-8{
  display: flex;
    justify-content: center;
    align-items: center;
}
