<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>
<div class="form-group">
  <input type="text" #keyword (keyup)="filter(keyword.value)" class="form-control" placeholder="Search....." />
</div>
<!-- <p>{{product$[1].title}}</p> -->
<div *ngIf="produc">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of product$">
        <td>{{ p.title }}</td>
        <td>₹ {{ p.price }}</td>
        <td>
          <a [routerLink]="['/admin/products/', p.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="filterproduct">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of fileteredProducts">
        <td>{{ p.title }}</td>
        <td>₹ {{ p.price }}</td>
        <td>
          <a [routerLink]="['/admin/products/', p.id]">Edit</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
